data/
03_CIE552_Proj_SceneRecognitionBoW.docx

code/CIE552_Spring2021_Mini-Project_Quanta_201700448_results_webpage.zip

code/CIE552_Spring2021_Mini-Project_Quanta_201700448_student.py

code/CIE552_Spring2021_Mini-Project_Quanta_201700448_writeup.pdf

test1.zip
